body {
  color: white;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 1px 2px rgba(33, 33, 33, 0.8);
}

iframe {
  border: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.div-label {
  margin: 0;
  position: absolute;
  left: 300px;
}

.div-label p {
  margin: 0;
}

.label {
  font-size: 80px;
}

.tags {
  font-size: 25px;
}
